<div class="cart-page">
  <div class="product-list" *ngIf="items.length > 0; else emptyCart">
    <h1>Your cart! ({{ count }})</h1>
    <div *ngFor="let item of items" class="product-card">
      <img [src]="item.image" alt="product" style="height: 50px;">
      <div class="product-info">
        <h3>{{ item.title }}</h3> <p>Price: {{ item.price | currency }}</p>
      </div>
      <button class="remove-btn">Remove</button>
    </div>

    <div class="cart-total">
        <h3>Total: {{ calculateTotal() | currency }}</h3>
        <button class="checkout-btn">Checkout Now</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="empty-state">
      <p><i>Your cart is looking a bit lonely...</i></p>
      <button routerLink="/">Go Shopping</button>
    </div>
  </ng-template>
</div>