.footer-container {
    border: 3px solid black;
    margin: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

h3 {
    margin: 0;
    line-height: 1.6;
    white-space: nowrap;
}