.navbar-container {
    border: 3px solid black;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 1000;
    margin: 0 20px 20px 20px;
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

h1 {
    margin: 0;
    white-space: nowrap; 
    font-size: 1.5rem;
}

input[type="image"] {
    display: block; 
}

.hide {
    position: sticky;
    top: 0;
    margin: 0 20px; 
    height: 20px;
    background: rgb(248, 248, 248);
    z-index: 1001;
}

.logo {
    cursor: pointer;
}

.cart-wrapper {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    align-self: center; 
    line-height: 0;
    display: block; 
    cursor: pointer;
}

.cart-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid white;
}