<div class="hide"></div>

<div class="navbar-container">
    <h1 class="logo" (click)="returnHome()">Mock Shop!</h1>

    <div class="icons">
        <div class="icon-button" (click)="goToWishlist()">
            <img src="assets/heart.png" class="heart-icon" alt="Heart">
            <span class="wishlist-badge" *ngIf="(wishlistCount$ | async) ?? 0 > 0">
                {{ wishlistCount$ | async }}
            </span>
        </div>

        <div class="cart-wrapper" (click)="goToCart()">
            <img src="assets/bag.png" class="cart-icon" alt="Cart">
            <span class="badge" *ngIf="(cartCount$ | async) ?? 0 > 0">
                {{ cartCount$ | async }}
            </span>
        </div>
    </div>
</div>