.navbar-container {
    border: 3px solid black;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 1000;
    margin: 20px;
    width: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

h1 {
    margin: 0;
    white-space: nowrap; 
    font-size: 1.5rem;
}

input[type="image"] {
    display: block; 
}

.hide {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgb(248, 248, 248);
    z-index: 1001;
}

.logo {
    cursor: pointer;
}