<div class="product-container">
    <div class="info-container">
        <h2>{{ product?.title }}</h2>
        <h4 style="color: green;">{{ product?.price | currency }}</h4>
        <p>{{ product?.description }}</p>
        <button>Add to Cart</button>
    </div>
    <img [src]="product?.image">
</div>

<div class="ratings-container">
    <div class="stars-outer">
        <div class="stars-inner" [style.width]="((product?.rating?.rate ?? 0) / 5) * 100 + '%'">
            ★★★★★
        </div>
        <div class="stars-empty">
            ★★★★★
        </div>
    </div>
    <p> ({{product?.rating?.rate}} stars from {{product?.rating?.count}} reviewers)</p>
</div>