<div class="product-container">
    <div class="info-container">
        <button routerLink="/" [queryParams]="{ category: product?.category }" class="category">
            {{ product?.category?.toUpperCase() }}
        </button>
        <h2>{{ product?.title }}</h2>
        <h4 style="color: green;">{{ product?.price | currency }}</h4>
        <p>{{ product?.description }}</p>

        <div class="action-buttons">
            <button (click)="addToCart(product)" [class.success]="isAdded" [disabled]="isAdded">
                {{ isAdded ? 'Added!' : 'Add to Cart' }}
            </button>

            <button class="detail-wishlist-btn" (click)="toggleWishlist()">
                <img [src]="isWishlisted ? 'assets/heart-filled.png' : 'assets/heart.png'" alt="wishlist">
                <span>{{ isWishlisted ? 'Saved' : 'Save to Wishlist' }}</span>
            </button>
        </div>
    </div>
    <img [src]="product?.image">
</div>

<div class="ratings-container">
    <div class="stars-outer">
        <div class="stars-inner" [style.width]="((product?.rating?.rate ?? 0) / 5) * 100 + '%'">
            ★★★★★
        </div>
        <div class="stars-empty">
            ★★★★★
        </div>
    </div>
    <p> ({{product?.rating?.rate}} stars from {{product?.rating?.count}} reviewers)</p>
</div>