.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
    padding: 20px;
}

.info-container {
    flex: 1 1 400px;
}

img {
    flex: 1 1 300px;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

.ratings-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

button {
    background-color: #007bff;
    min-height: 30px;
    min-width: 100px;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  line-height: 1;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffc107;
}

.stars-empty {
  color: #e4e4e4;
}

.ratings-container p {
    color: gray;
}