.card {
    padding: 15px;
    width: 250px;
    min-height: 450px;
    max-height: 450px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
    background: lightgray;
    transform: scale(1.015);
    cursor: pointer;
}

.info-wrapper {
    margin-top: auto; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

button {
    background-color: #007bff;
    min-height: 30px;
    min-width: 100px;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

img { 
    height: 200px;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    object-fit: contain;
}